html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}



@font-face {
    font-family: "UI";
    src: url("./fonts/ui.woff");
}

* {
    box-sizing: border-box;
    font-family: "UI";
    font-size: 12px;
    color: lightgrey;
}

.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
}

.twoThirds {
    width: 67%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.oneThird {
    flex-shrink: 0;
    flex-grow: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.boxed {
    margin: 8px;
    padding: 8px;
    border: 1px solid grey;
    position: relative;
}

.box-title {
    position: absolute;
    background-color: black;
    top: -0.5rem;
    padding: 0 4px;
    left: 2rem;
}

.unmargin {
    margin-left: 0px;
}

.attributes {
    width: 100%;
    height: 3rem;
}

.bottomRowHeight {
    width: 100%;
    height: 9rem;
}

.fullHeight {
    height: 100%;
}

.lt {
    position: absolute;
    background-color: black;
    top: -0.5rem;
    left: -0.5rem;
    padding: 2px;
}

.lb {
    position: absolute;
    background-color: black;
    bottom: -0.5rem;
    left: -0.5rem;
    padding: 2px;
}

.rt {
    position: absolute;
    background-color: black;
    top: -0.5rem;
    right: -0.5rem;
    padding: 2px;
}

.rb {
    position: absolute;
    background-color: black;
    bottom: -0.5rem;
    right: -0.5rem;
    padding: 2px;
}

.messageBox {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}